.banner {
  background-image: url(/src/assets/images/bg2.jpg);
  background-size: cover;
  height: 90vh;
  padding-top: 110px;
  display: flex;
  background-repeat: no-repeat;
  flex-direction: column;
  align-items: center;
  background-position: left top;
  justify-content: center;
  z-index: 2;
}
.home {
  overflow-x: hidden !important;
}
.banner-text-div {
  z-index: 1;
  width: 100%;
  color: white;
}
.banner-text-div h3 {
  font-size: 35px;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  color: white;
}
.banner-btns button {
  font-family: "Poppins", sans-serif;
}
.banner-btns {
  margin: 0 auto;
  justify-content: center;
  display: flex;
}
.banner-backdrop {
  width: 100%;
  z-index: 1;
  padding-top: 110px;
  top: 0;
  height: 90vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.438);
}
.banner-text-span {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  z-index: 10;
  position: relative;
  line-height: 1.6;
  word-spacing: 1px;
  color: #ffffff;
  /* font-weight: 100; */
}
.animated-banner-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.animated-banner-text h1 {
  font-family: "Raleway", sans-serif;
  font-size: 70px;
}
.banner-socials {
  margin: 5vh 0;
  display: flex;
  justify-content: center;
}
.minted-counter {
  margin: 0;
  font-size: 18px !important;
  margin-bottom: 3vh;
}
.banner-socials img {
  width: 50px;
  filter: grayscale(100%);
  height: 50px;
  margin: 0 1.5vw;
  transition: all 1.2s;
}
.banner-socials img:hover {
  transform: scale(1.2);
  filter: grayscale(0);
}
.down-arrow-svg {
  margin-top: 50px;
  padding: 8px;
  width: 10px;
  height: 10px;
  position: relative;
  display: flex;
  z-index: 5 !important;
  fill: white;
  border-radius: 100%;
  background-color: rgba(187, 187, 187, 0.514);
  transition: all 0.5s;
}
.down-arrow-svg:hover:not(svg) {
  transform: scale(1.5) !important;
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0);
}
@media screen and (max-width: 990px) {
  .animated-banner-text h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 768px) {
  .animated-banner-text h1 {
    font-size: 30px;
  }
  .banner-text-div p {
    font-size: 25px;
  }
}
@media screen and (max-width: 500px) {
  .banner-btns {
    flex-direction: column;
  }
}
