.team {
  padding: 100px 0;
  width: 1140px;
  margin: 0 auto;
}
.members {
  display: flex;
  align-items: center;
  justify-content: center;
}
.member {
  width: 350px;
  height: 321px;
  margin: 0 15px;
  box-sizing: border-box;
}
.member img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
}
.member img:hover {
  transform: scale(1.2);
}
.member svg {
  width: 14px;
  height: 17.6px;
}
@media screen and (max-width: 1200px) {
  .team {
    width: 960px;
  }
  .member {
    width: 290px;
  }
}
@media screen and (max-width: 990px) {
  .team {
    width: 720px;
  }
}
@media screen and (max-width: 768px) {
  .members {
    flex-direction: column;
  }
  .team {
    width: 540px;
  }
}
@media screen and (max-width: 576px) {
  .members {
    flex-direction: column;
  }
  .team {
    width: 100%;
  }
}
